language: android
jdk: oraclejdk8
env:
  global:
  - secure: fMBUkSsCBTw/U907w7Xm/yNzw4lq9yt7zFy0JyEZrA543LI7zQRIclIOtsDTUs0bwY+4KI08MNoYPLJ4TQhSJaH4wQ8b9C5TRsqXNfc0V718TcuYqSXqU6VPRVtX46/fCEWv/HAs0ksUKrHIlpWOwLPQpYDcKxwwlUndaakYKJ8=
  - ADB_INSTALL_TIMEOUT=8
  matrix:
    - ANDROID_TARGET=android-19 ANDROID_ABI=armeabi-v7a SYS_IMG=sys-img-$ANDROID_ABI-$ANDROID_TARGET
    - ANDROID_TARGET=android-22 ANDROID_ABI=armeabi-v7a SYS_IMG=sys-img-$ANDROID_ABI-$ANDROID_TARGET
#    - ANDROID_TARGET=android-25 ANDROID_ABI=google_apis/armeabi-v7a SYS_IMG=sys-img-armeabi-v7a-google_apis-25

before_cache:
- cd ${TRAVIS_BUILD_DIR}/gradle/caches/
- find . -name "*.lock" -exec rm -rfv {} \;
- cd ${TRAVIS_BUILD_DIR}

cache:
  directories:
  - "${TRAVIS_BUILD_DIR}/gradle/caches/"
  - "${TRAVIS_BUILD_DIR}/gradle/wrapper/dists/"
  
notifications:
  email: false

android:
  components:
  - tools
  - build-tools-25.0.2
  - platform-tools
  - tools
  - extra-google-google_play_services
  - extra-google-m2repository
  - extra-android-m2repository
  - $ANDROID_TARGET
  - $SYS_IMG

install:
- echo yes | sdkmanager "extras;m2repository;com;android;support;constraint;constraint-layout;1.0.2"
- echo yes | sdkmanager "extras;m2repository;com;android;support;constraint;constraint-layout-solver;1.0.2"
- ./gradlew --version
- sdkmanager --list || true

# Emulator Management: Create, Start and Wait
before_script:
- android list device
- android list target
- echo no | android create avd --force -n test -t $ANDROID_TARGET --abi $ANDROID_ABI -d "5.4in FWVGA"
- emulator -avd test -engine classic -no-window &
- android-wait-for-emulator
- adb shell input keyevent 82 &

script:
- ./gradlew build connectedCheck test jacocoTestReport

after_success:
- bash <(curl -s https://codecov.io/bash)

before_deploy:
- openssl aes-256-cbc -K $encrypted_903a93ed2309_key -iv $encrypted_903a93ed2309_iv
  -in keystore.enc -out keystore -d
- cp $TRAVIS_BUILD_DIR/keystore $HOME
- cd mobile/build/outputs/apk/full/release
- jarsigner -verbose -sigalg SHA1withRSA -digestalg SHA1 -keystore $HOME/keystore
  -storepass $storepass mobile-full-release-unsigned.apk sign
- jarsigner -verify mobile-full-release-unsigned.apk
- ${ANDROID_HOME}/build-tools/25.0.2/zipalign -v 4 mobile-full-release-unsigned.apk mobile-full-release.apk

deploy:
  provider: releases
  prerelease: true
  file: mobile-full-release.apk
  skip_cleanup: true
  overwrite: true
  on:
    repo: openhab/openhab.android
    jdk: oraclejdk8
    branch: master
    tags: true
  api_key:
    secure: JaDHY9PaBF625dfulN8ygmOvBk3ZDmnZZDr7IPwqJ9hZ+4WzS85om8F9+bgQlZTDDVUeaNZ03ZkfRZ81g9D0EEHF5WSFqgN8aUcNoAa8ViBFAQUeO1uTjVkiP0G7JOVRyW59HTTk6Cjr5eiGKkmeIGT9KgUUi+4Bw/6Quag8f8Y=
