language: android
jdk: oraclejdk8
env:
  global:
    - secure: fMBUkSsCBTw/U907w7Xm/yNzw4lq9yt7zFy0JyEZrA543LI7zQRIclIOtsDTUs0bwY+4KI08MNoYPLJ4TQhSJaH4wQ8b9C5TRsqXNfc0V718TcuYqSXqU6VPRVtX46/fCEWv/HAs0ksUKrHIlpWOwLPQpYDcKxwwlUndaakYKJ8=
    - ADB_INSTALL_TIMEOUT=8

before_cache:
  - find $HOME/.gradle/caches/ -name "*.lock" -exec rm -rfv {} \;
  - rm -rfv $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache

notifications:
  email: false

android:
  components:
    - build-tools-27.0.3
    - android-22
    - sys-img-armeabi-v7a-android-22

install:
  - echo "mapsApiKey=AIzaSyA2t2893e9wccs9EnlnauJRgtqFNYQSp-o" >> ~/.gradle/gradle.properties
  - echo yes | sdkmanager "platforms;android-27"
  - ./gradlew --version
  - sdkmanager --list || true

stages:
  - test
  - deploy

jobs:
  include:
    - stage: test
      script: bash travis/test.sh
      env:
        - desc="Build & test"
      if: tag != "-fdroid$"
    - stage: test
      script: bash travis/coverage.sh
      env:
        - desc="Codecov"
      if: branch != l10n-crowdin AND tag != "-fdroid$"
    - stage: test
      script: bash travis/uploads.sh
      env:
        - desc="Uploads to GitHub"
      if: branch != l10n-crowdin AND tag != "-fdroid$" AND tag IS present
    - stage: test
      script: python3 assets/store_descriptions/generate_and_validate.py fdroidBeta
      env:
        - desc="Validate strings"
      if: tag != "-fdroid$"
    - stage: deploy
      script: bash travis/prepare-deploy.sh
      if: tag IS present AND tag != "-fdroid$"
      deploy:
        provider: releases
        prerelease: true
        file:
          - $HOME/apks_to_deploy/openhab-android.apk
        skip_cleanup: true
        overwrite: true
        on:
          repo: openhab/openhab-android
          jdk: oraclejdk8
          branch: master
          tags: true
        api_key:
          secure: JaDHY9PaBF625dfulN8ygmOvBk3ZDmnZZDr7IPwqJ9hZ+4WzS85om8F9+bgQlZTDDVUeaNZ03ZkfRZ81g9D0EEHF5WSFqgN8aUcNoAa8ViBFAQUeO1uTjVkiP0G7JOVRyW59HTTk6Cjr5eiGKkmeIGT9KgUUi+4Bw/6Quag8f8Y=
