language: android
jdk: oraclejdk8
env:
  global:
  - secure: fMBUkSsCBTw/U907w7Xm/yNzw4lq9yt7zFy0JyEZrA543LI7zQRIclIOtsDTUs0bwY+4KI08MNoYPLJ4TQhSJaH4wQ8b9C5TRsqXNfc0V718TcuYqSXqU6VPRVtX46/fCEWv/HAs0ksUKrHIlpWOwLPQpYDcKxwwlUndaakYKJ8=
  - ADB_INSTALL_TIMEOUT=8

before_cache:
- find $HOME/.gradle/caches/ -name "*.lock" -exec rm -rfv {} \;
- rm -rfv $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/
  - $HOME/.android/build-cache
  
notifications:
  email: false

android:
  components:
  - build-tools-25.0.2
  - android-22
  - sys-img-armeabi-v7a-android-22

install:
- sed -i 's/org.gradle.daemon=false/org.gradle.daemon=true/' ~/.gradle/gradle.properties
- echo "mapsApiKey=AIzaSyA2t2893e9wccs9EnlnauJRgtqFNYQSp-o" >> ~/.gradle/gradle.properties
- echo "org.gradle.jvmargs=-Xmx2000M" >> ~/.gradle/gradle.properties
- echo yes | sdkmanager "extras;m2repository;com;android;support;constraint;constraint-layout;1.0.2"
- echo yes | sdkmanager "extras;m2repository;com;android;support;constraint;constraint-layout-solver;1.0.2"
- ./gradlew --version
- sdkmanager --list || true

stages:
    - test
    - deploy

jobs:
    include:
        - stage: test
          script: bash travis/test.sh
          env:
              - desc="Build & test"
        - stage: test
          script: bash travis/coverage.sh
          env:
              - desc="Codecov"
          if: branch != l10n-crowdin
        - stage: test
          script: bash travis/screenshots.sh
          env:
              - desc="Screenshots"
          if: branch != l10n-crowdin
        - stage: test
          script: bash assets/store_descriptions/generate_and_validate.sh
          env:
              - desc="Validate strings"
        - stage: deploy
          script: bash travis/prepare-deploy.sh
          deploy:
            provider: releases
            prerelease: true
            file:
                - $HOME/apks_to_deploy/openhab-android.apk
            skip_cleanup: true
            overwrite: true
            on:
                repo: openhab/openhab-android
                jdk: oraclejdk8
                branch: master
                tags: true
            api_key:
                secure: JaDHY9PaBF625dfulN8ygmOvBk3ZDmnZZDr7IPwqJ9hZ+4WzS85om8F9+bgQlZTDDVUeaNZ03ZkfRZ81g9D0EEHF5WSFqgN8aUcNoAa8ViBFAQUeO1uTjVkiP0G7JOVRyW59HTTk6Cjr5eiGKkmeIGT9KgUUi+4Bw/6Quag8f8Y=
