<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly">

    <attribution android:label="@string/send_device_info_to_server" android:tag="SEND_DEV_INFO" />
    <attribution android:label="@string/attribution_tag_select_server_wifi" android:tag="SELECT_SERVER_WIFI" />
    <attribution android:label="@string/attribution_tag_suggest_turn_on_wifi" android:tag="SUGGEST_TURN_ON_WIFI" />
    <attribution android:label="@string/attribution_tag_discover_server" android:tag="SERVER_DISCOVERY" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <!-- Used by Main UI -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-sdk tools:overrideLibrary="androidx.security"/>

    <!-- Declare features are optional, see https://developer.android.com/guide/topics/manifest/uses-feature-element#permissions -->
    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <uses-feature android:name="android.hardware.nfc" android:required="false" />
    <uses-feature android:name="android.hardware.wifi" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />

    <queries>
        <package android:name="net.dinglisch.android.taskerm" />
        <package android:name="com.twofortyfouram.locale" />
        <package android:name="com.android.providers.calendar" />
        <package android:name="com.android.calendar" />
        <package android:name="com.samsung.android.calendar" />
        <package android:name="com.miui.securitycenter" />
        <package android:name="org.thoughtcrime.securesms" />
        <package android:name="nodomain.freeyourgadget.gadgetbridge" />
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:name=".core.OpenHabApplication"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/backup_rules_v31"
        android:backupAgent=".util.CustomBackupAgent"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:supportsPictureInPicture="false"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/openHAB.Launch">

        <meta-data android:name="android.webkit.WebView.MetricsOptOut" android:value="true" />

        <activity
            android:name=".ui.preference.PreferencesActivity"
            android:label="@string/app_preferences_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/about_title"
            android:exported="false" />
        <activity
            android:name=".ui.LogActivity"
            android:label="@string/log"
            android:exported="false" />
        <activity
            android:name=".ui.ChartWidgetActivity"
            android:label="@string/chart_activity_title"
            android:exported="false" />
        <activity
            android:name=".ui.ImageWidgetActivity"
            android:label="@string/widget_type_image"
            android:exported="false" />
        <activity
            android:name=".ui.ColorItemActivity"
            android:label="@string/widget_type_color"
            android:showWhenLocked="true"
            android:exported="false"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            tools:targetApi="o_mr1" />
        <activity
            android:name=".ui.SelectionItemActivity"
            android:showWhenLocked="true"
            android:exported="false"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            tools:targetApi="o_mr1" />

        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">

            <!-- for Nougat -->
            <layout
                android:defaultWidth="600dp"
                android:defaultHeight="500dp"
                android:gravity="top|end"
                android:minWidth="80dp"
                android:minHeight="80dp"
                tools:targetApi="n" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name="${applicationId}.ui.LauncherActivityAlias"
            android:exported="true"
            android:enabled="false"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
        <activity
            android:name=".ui.WriteTagActivity"
            android:label="@string/title_activity_openhabwritetag"
            android:exported="false" />
        <activity
            android:name=".ui.IntroActivity"
            android:label="@string/app_intro"
            android:exported="false" />
        <activity
            android:name="de.duenndns.ssl.MemorizingActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.MaterialComponents.Translucent"
            android:exported="false" />
        <activity
            android:name=".ui.TaskerItemPickerActivity"
            android:label="@string/tasker_item_picker_title"
            android:exported="true">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.BasicItemPickerActivity"
            android:launchMode="singleTask"
            android:label="@string/tile_item_picker_title"
            android:exported="true" />
        <activity
            android:name=".ui.NfcItemPickerActivity"
            android:label="@string/intro_nfc"
            android:exported="false" />

        <receiver
            android:name=".ui.homescreenwidget.VoiceWidget"
            android:label="@string/title_voice_widget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/voice_widget_info" />
        </receiver>
        <receiver
            android:name=".ui.homescreenwidget.VoiceWidgetWithIcon"
            android:label="@string/title_voice_widget_icon"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/voice_widget_with_icon_info" />
        </receiver>
        <receiver
            android:name=".ui.homescreenwidget.ItemUpdateWidget"
            android:label="@string/item_update_widget_title"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/item_update_widget" />
        </receiver>
        <receiver
            android:name=".core.UpdateBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".background.BackgroundTasksManager"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.app.action.NEXT_ALARM_CLOCK_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
            </intent-filter>
            <intent-filter>
                <action android:name="nodomain.freeyourgadget.gadgetbridge.FellAsleep" />
                <action android:name="nodomain.freeyourgadget.gadgetbridge.WokeUp" />
                <action android:name="nodomain.freeyourgadget.gadgetbridge.StartNonWear" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.QUERY_CONDITION" />
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".background.CopyToClipboardReceiver"
            android:exported="false" />

        <activity
            android:name=".background.NfcReceiveActivity"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.NoDisplay"
            android:noHistory="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="openhab" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="openhab" />
            </intent-filter>
        </activity>

        <service
            android:name=".background.EventListenerService"
            android:foregroundServiceType="dataSync"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:directBootAware="false"
            android:enabled="@bool/enable_system_foreground_service_default"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            tools:targetApi="n"
            tools:ignore="Instantiatable" />

        <service
            android:name=".background.ItemsControlsProviderService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_CONTROLS"
            android:exported="true"
            tools:targetApi="R">
            <intent-filter>
                <action android:name="android.service.controls.ControlsProviderService" />
            </intent-filter>
        </service>

        <!-- Tiles -->
        <service android:name=".background.tiles.TileService1" android:label="@string/tile_label_1" android:icon="@drawable/ic_openhab_appicon_24dp" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="true" android:exported="true">
            <intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter>
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE" android:value="true" />
        </service>
        <service android:name=".background.tiles.TileService2" android:label="@string/tile_label_2" android:icon="@drawable/ic_openhab_appicon_24dp" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="false" android:exported="true">
            <intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter>
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE" android:value="true" />
        </service>
        <service android:name=".background.tiles.TileService3" android:label="@string/tile_label_3" android:icon="@drawable/ic_openhab_appicon_24dp" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="false" android:exported="true">
            <intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter>
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE" android:value="true" />
        </service>
        <service android:name=".background.tiles.TileService4" android:label="@string/tile_label_4" android:icon="@drawable/ic_openhab_appicon_24dp" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="false" android:exported="true">
            <intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter>
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE" android:value="true" />
        </service>
        <service android:name=".background.tiles.TileService5" android:label="@string/tile_label_5" android:icon="@drawable/ic_openhab_appicon_24dp" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="false" android:exported="true">
            <intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter>
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE" android:value="true" />
        </service>
        <service android:name=".background.tiles.TileService6" android:label="@string/tile_label_6" android:icon="@drawable/ic_openhab_appicon_24dp" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="false" android:exported="true">
            <intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter>
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE" android:value="true" />
        </service>
        <service android:name=".background.tiles.TileService7" android:label="@string/tile_label_7" android:icon="@drawable/ic_openhab_appicon_24dp" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="false" android:exported="true">
            <intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter>
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE" android:value="true" />
        </service>
        <service android:name=".background.tiles.TileService8" android:label="@string/tile_label_8" android:icon="@drawable/ic_openhab_appicon_24dp" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="false" android:exported="true">
            <intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter>
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE" android:value="true" />
        </service>
        <service android:name=".background.tiles.TileService9" android:label="@string/tile_label_9" android:icon="@drawable/ic_openhab_appicon_24dp" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="false" android:exported="true">
            <intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter>
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE" android:value="true" />
        </service>
        <service android:name=".background.tiles.TileService10" android:label="@string/tile_label_10" android:icon="@drawable/ic_openhab_appicon_24dp" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="false" android:exported="true">
            <intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter>
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE" android:value="true" />
        </service>
        <service android:name=".background.tiles.TileService11" android:label="@string/tile_label_11" android:icon="@drawable/ic_openhab_appicon_24dp" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="false" android:exported="true">
            <intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter>
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE" android:value="true" />
        </service>
        <service android:name=".background.tiles.TileService12" android:label="@string/tile_label_12" android:icon="@drawable/ic_openhab_appicon_24dp" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="false" android:exported="true">
            <intent-filter><action android:name="android.service.quicksettings.action.QS_TILE"/></intent-filter>
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE" android:value="true" />
        </service>
    </application>

</manifest>
