<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <receiver
            android:name="org.openhab.habdroid.core.FcmRegistrationService$ProxyReceiver">
            <intent-filter>
                <action android:name="org.openhab.habdroid.action.HIDE_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <service
            android:name="org.openhab.habdroid.core.MessageListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="org.openhab.habdroid.core.FcmRegistrationService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${maps_api_key}" />
    </application>
</manifest>
