name: Build App

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        license: [full, foss]
        release: [Beta, Stable]
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Setup Gradle
      run: mkdir ~/.gradle/ && echo "mapsApiKey=AIzaSyA2t2893e9wccs9EnlnauJRgtqFNYQSp-o" >> ~/.gradle/gradle.properties && echo "org.gradle.daemon=false" >> ~/.gradle/gradle.properties
    - name: Build
      run: ./gradlew :mobile:assemble${{ matrix.license }}${{ matrix.release }}
    - name: Unit Tests
      run: ./gradlew :mobile:test${{ matrix.license }}${{ matrix.release }}ReleaseUnitTest
