name: Build App

on:
  push:
    branches-ignore:
      - l10n_main
      - dependabot/*
  pull_request:
    branches-ignore:
      - l10n_main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1.0.4

      - name: Configure Gradle
        run: |
          mkdir ~/.gradle/
          echo -e "org.gradle.jvmargs=-Xmx8192M\nmapsApiKey=AIzaSyA2t2893e9wccs9EnlnauJRgtqFNYQSp-o\norg.gradle.daemon=false" >> ~/.gradle/gradle.properties

      - name: Build and Test
        run: ./gradlew :mobile:assemble :mobile:test
