name: Build App

on:
  push:
    branches-ignore:
      - l10n_main
      - dependabot/*
  pull_request:
    branches-ignore:
      - l10n_main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1.0.4

      - name: Configure Gradle
        run: |
          mkdir ~/.gradle/
          echo -e "org.gradle.jvmargs=-Xmx8192M\nmapsApiKey=AIzaSyA2t2893e9wccs9EnlnauJRgtqFNYQSp-o\norg.gradle.daemon=false" >> ~/.gradle/gradle.properties

      - name: Build (full, beta)
        run: ./gradlew :mobile:assembleFullBeta
      - name: Unit Tests (full, beta)
        run: ./gradlew :mobile:testFullBetaReleaseUnitTest
      - name: Build (full, stable)
        run: ./gradlew :mobile:assembleFullStable
      - name: Unit Tests (full, stable)
        run: ./gradlew :mobile:testFullStableReleaseUnitTest
      - name: Build (foss, beta)
        run: ./gradlew :mobile:assembleFossBeta
      - name: Unit Tests (foss, beta)
        run: ./gradlew :mobile:testFossBetaReleaseUnitTest
      - name: Build (foss, stable)
        run: ./gradlew :mobile:assembleFossStable
      - name: Unit Tests (foss, stable)
        run: ./gradlew :mobile:testFossStableReleaseUnitTest
