name: Run super-linter

on:
  push:
    branches-ignore:
      - l10n_main
      - dependabot/*
  pull_request:
    branches-ignore:
      - l10n_main

permissions:
  contents: read
  packages: read
  statuses: write

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Lint Code Base
        uses: super-linter/super-linter/slim@v8.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_KOTLIN: true
          VALIDATE_RENOVATE: true
